@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.2.0/uicons-solid-straight/css/uicons-solid-straight.css');


@media all and (min-width: 600px) {
  /* .results {
    max-height: calc(5 * (175px + 2px) + 1 * (15px + 2px));
    /* 2px for borders */
    
  body {    
    font-size: 16px;
  }
  .menu {
    padding: 35px;
  }
  .menu a {    
    font-size: x-large !important;
  }
  .container {    
    width: var(--wi);
  }
  .sorter {    
    width: 900px;
    margin: 0px auto;
    grid-template-columns: 300px 1fr 300px;
  }
  .sorter .image {    
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 0% 0%;
  }
  .sorter > .text {
    width: 300px;
  }
  .isi {    
    padding: 20px;
  }
  
  .starting.start.button {
    margin: 0 10px;  
  }
  
  .starting.load.button {
    margin: 0 10px;  
  }
  
  .finished.save.button, .sorting.tie.button {
    margin: 0 10px;
  }
   .finished.list.button, .sorting.save.button  { 
    margin: 0 10px;
  }
  
  .sorting.undo.button, .finished.getimg.button {
    margin: 0 10px;
  }

  .loading.button {    
    margin: 0 10px;
    display: none;
  }
  .options {    
    width: 900px;
  }
  .footer a {    
    font-size:18px;
  }
  .options > div {
    padding: 10px;
  }

  input[type='checkbox'] {
    width:20px;
    height:20px;
    margin-right:10px;
    cursor: pointer;
  }
  .info {    
    padding: 20px 0;
    font-size: 0.6875em;
  }
}

/* 
    margin: 0px 300px; */

@media all and (max-width: 600px) {
  body {    
    overflow: hidden;
    font-size: 10px;
  }
  .results {
    flex-flow: column nowrap;
  }
  .result {    
    width: 100%;
  }
  .wlcm .p1 {
    font-size: medium !important;
  }
  .wlcm .p2 {
    font-size: smaller !important;
  }
  .menu a {    
    font-size: 15px !important;
  }
  .menu {
    padding:10px;
  }
  .container {  
    width: var(--wi);
    margin:0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .sorter {   
    width: min-content;
    margin:0;
    grid-template-columns: 120px 1fr  120px;
  }
  .sorter .image {    
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 0% 0%;
  }
  .isi {    
    padding: 0px;
  }
  .sorter > .text {
    width: 100px;
  }
  .loading.button {    
    display: none;
  }
  .sorter > .right {
    margin-left:10px;
  }
  .sorter > .left {
    margin-left:10px;
  }
  .options {    
    width: 100%;
  }
  .footer a {    
    font-size: 10px;
  }
  .sorting.button {    
    padding: 10px 30px;
  }
  .options > label {
    font-size:10px !important;
  }
  .options div label {
    font-size:10px !important;
  }
  .options > div {
    padding: 5px;
  }

  input[type='checkbox'] {
    width:10px;
    height:10px;
    margin-right:10px;
    cursor: pointer;
  }
  .info {    
    padding: 5px 0;
  }
  a {    
    font-size: 10px !important;
  }
}

:root {
  --gold: #909090;
  --goldh: #363636;
  --wi: min-content;
  --ireng: #000000;
  --emas: #f8922c;
}

body {
  font-family: "Montserrat", sans-serif;
  color: black;
  background-color: #f0ece2;
  min-height: 100vh;
  user-select: none; /* Standard syntax */
}

.ujung {
  background-color: white !important;
  padding: 10px;
  border-radius: 50%;
  font-size: 25px !important;
  position: fixed;
  bottom:0;
  right:0;
  margin: 40px;
  box-shadow: 0  0 0.4rem 0.4rem rgb(0 0 0 / 6%);
  z-index:9999;
}

body.dark{
  background-color: #222222 !important;
}

#result.dark {  
  background-color: #31353f !important;
  color:white !important;
}

#isi.dark, #wlcm.dark  {
  /*background-color: #31353f !important;*/
  color:white !important;
}

#menu.dark {
  background-color: #31353f !important;
  color:white !important;
}

#menu.dark a, #progresstext.dark {
  color:white !important;
}

#button.dark, #button.dark {
  background-color: #f8922c  !important;
}

#button.dark:hover {
  background-color: #c95e17 !important;
}

#options.dark div {
  background-color: #ffffff !important;
  color: black;
}

#footer.dark a, #footer.dark button {
  color:white !important;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 auto;
}

.wlcm {
  /*background-color: white;*/
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
  border-radius: 5px;
  text-align: center;
}

.wlcm .p1 {
  font-size: xx-large;
  font-weight: 600;
}

.wlcm .p2 {
  margin-top: 20px;
  font-size:18px;
}

.isi {  
  /*background-color: white;*/
  margin-top: 30px;
  border-radius: 30px;
  /*box-shadow: 0 0 0.4rem 0.4rem rgb(0 0 0 / 6%);*/
}

.progress {
  margin-bottom: 1em;
  width: 100%;
  display: none;
}

.progressbar {
  width: 100%;
  margin-top: 5px;
  background-color: #f8922c4d;
  border-radius: 1rem;
  position: relative;
}

.progresstext {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content:center;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  height: 20px;
  color: var(--ireng);
  font-weight: bold;
}

.progressfill {
  height: 21px;
  background-color: #f8922c;
  color: white;
  width: 0%;
  border-radius: 2px;
  transition: 0.2s;
  height:20px;
  overflow: hidden;
  border-radius: 1rem;
}

.sorter {
  display: grid;
}

.button {
  margin-left: 2px;
  text-align: center;
  padding: 10%;
  grid-column: 2 / 3;
  cursor: pointer;
  color: black;
  background-color: #ffffff;
  font-weight: 500;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.starting.start.button {
  margin-top: 10px;
  border-radius: 20px  !important;   
}

.starting.load.button {
  margin-top: 10px;
  border-radius: 20px  !important;  
}

.finished.save.button, .sorting.tie.button {
  border-radius: 20px 20px 0 0  !important;  
  margin-top: 10px;
}
 .finished.list.button, .sorting.save.button  {  
  border-radius: 0 0 20px 20px  !important;
}

.starting.start.button {
  grid-row: span 6;
}


.button:hover{
  background-color: #dddddd;
}

.starting.load.button {
  grid-row: span 3;
  display: none;
}

.sorting.button, .finished.button {
  grid-row: span 2;
  display: none;
}

.loading.button {
  grid-row: span 6;
  margin-top: 10px !important;
  border-radius: 20px  !important;
  font-size: 25px;
}

.loading.button > div {
  width: 25px;
  height: 25px;
  margin: 50px auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

/* Animation taken from: http://tobiasahlin.com/spinkit/ */

.loading.button > span {
  margin: auto auto 20%;
  font-size: 0.7em;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.sorter > .image {
  margin: auto;
  grid-row: 1 / 7;
  cursor: pointer;
}

.sorter > .image:hover{
  /*filter:brightness(80%);*/
  transition: 0.2s;
  object-position:0% 10%;
}

.sorter > .text {
  height: auto;
  display: none;
  color: black;
  background-color: var(--gold);
}

.sorter > .text > p {
  margin: 0.7em 5px 0.7em;
  width: calc(100%-10px);
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5em;
}

.sorter > .left {
  grid-column: 1 / 2;
  border-radius: 20px ;
  color: white;
  background-color: #cc260c;
  margin-top: 10px;
}

.sorter > .right {
  grid-column: 3 / 4;
  border-radius: 20px;
  color: white;
  background-color: #0c5fcc;
  margin-top: 10px;
}

.options {
  margin-top: 2em;
  display: grid;
  text-align: left;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  font-weight: 600;
  accent-color: #efefef;
}

.options > div {
  font-size: 15px;
  background: var(--ireng);
  color: white;
  border-radius: 20px;
}

label {
  cursor: pointer;
  accent-color:var(--emas);
  display: flex;
  align-items: center;
  user-select: none; /* Standard syntax */
}

.options > .large.option, .options > hr {
  grid-column: span 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;

}

.image.selector {
  margin-top: 0.5em;
  width: 500px;
  display: none;
  text-align: center;
  font-size: 0.75em;
}

.time.taken {
  margin-top: 0.5em;
  width: calc(100% - 10px);
  display: none;
  text-align: center;
  font-size: 13px;
}

.results {
  font-size: 0.75em;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
    border-radius:5px;
}

.result {
  position: relative;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}
.result.image {
  height: auto;
}

.result.image img {
  height: 200px;
  margin-top: -3px;
  width:200px;
  object-fit: cover;
  object-position: 0% 0%;
  background-color: #f8922c;
  border-radius: 5px;
}

.result.spacer {
  height: 1px;
  background-color: #2E4B73;
}

.result.head {
  background-color: #2E4B73;
  color: #FFF;
  font-weight: bold;
  width:100%;
  margin:20px 0px;
}

.result > .left {
  width: 18px;
  padding: 3px 3px 1px 0.5em;
  grid-column: 1 / 2;
  text-align: right;
  margin: 0px;
  font-size: 15px;
}

.result.image .left {
  position: relative; /* Pastikan .result.image .left sebagai relatif */
}

.right span:not(nomor) {
  font-weight:bold;
  color:black;
  text-align:center;
}

.right .nomor {
  position: absolute;
    margin-top: 10px;
    margin-left: 20px;
    left: 0;
    background: var(--ireng);
    padding: 5px;
    border-radius: 50%;
    line-height: 20px;
    width: 20px;
    text-align: center;
    color: white;
}


.result > .right {
  /*padding: 3px 0em 0px 0em;*/
  grid-column: 2 / 3;
  /*text-align: center;*/
  margin:0px;
  font-size:15px;
}

.result > .right > div {
  margin-top:10px;
  text-align:center;
}

.info {
    display: block;
    text-align: center;
    width: 100%;
    line-height: 1.2em;
    background: white;
    color: black;
    margin-top: 30px;
    border-radius:30px;
    box-shadow: 0 0 0.4rem 0.4rem rgb(0 0 0 / 6%);
}

.info a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {  
  display: block;
  text-align: center;
  font-size: 0.6875em;
  width: 100%;
  line-height: 1.2em;
  margin-top: 10px;
  padding: 20px 0;
  border-radius:5px;
}

.footer a {  
  color:#000000 !important;
}

.footer button  {
  padding:0;
  font-size:18px;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

a:hover, a:visited:hover {
  color: #000000;
}

a:visited {
  color: #9E42D1;
}

.restart-button:link, .restart-button:visited {
    background-color: #ff961d;
    color: #ffffff;
    padding: 20px 10px;
    border-radius: 30px;
    /* border: 1px solid #80C1E3; */
    display: inline-block;
    width: calc(100% - 20px);
    text-align: center;
    font-size: 15px;
    transition: 0.2s;
}

a.restart-button:hover, a.restart-button:active{
  color: white;
  background-color: #c95e17;
}

b, strong {
  font-weight: bold;
}

select {
  background-color: white;
  border: 1px solid #80C1E3;
  border-radius: 5px;
  color: #2E4B73;
}

hr{
  border: 1px solid #597AAA;
}

.cover {
  object-fit: contain;
  background-color: #797979;
}

.menu {
  background-color: white;
  box-shadow: 0 0.4rem 0.4rem rgb(0 0 0 / 6%);
}

.menu p {
  text-align:center;
  font-weight: 700;
}

.menu a {  
  color:black !important;
}

/* POP UP */
.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  z-index:1;
  display: none;
  animation: fadeIn 300ms ease-in; 
}

.popup .content {
  position: fixed;
  top: 50%;
  left: 50%;
  background: #fff;
  width: 600px;
  height: 400px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;  
  animation: fadeOut 300ms ease-in; 
  display:none;
}

@keyframes fadeOut {  
  from {  
      opacity:1;  
  }  

  to {  
      opacity:0;  
  }  
}

@keyframes fadeIn {  
  from {  
      opacity:0;  
  }  

  to {  
      opacity:1;  
  }  
}

.popup .close-btn {
  position: absolute;
  right:20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius:50%;
  cursor: pointer;
}

.popup.active .overlay {
  display: block;
  animation: fadeIn 300ms ease-in; 
}

.popup.active .content {
  transition: all 300ms ease-in-out;
  animation: fadeIn 300ms ease-in; 
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;  
  display:block;
}

.open-btn {
  background-color: transparent;
  border: 0;
  color:black !important;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.popup .p1 {
  font-size: xx-large;
  font-weight: 600;
}

.popup .p2 {
  margin-top: 20px;
  font-size:18px;
  text-align: left !important;
  line-height: 1.6;
}

.popup .p2 a {
  margin-top: 20px;
  font-size:18px;
  color: #000000;
}

.penting {
  font-weight: bold;
}

.versian:after {
  content: "";
  display: table;
  clear: both;
}

.versian .sian1 {
  float:left;
  width:min-content;
  margin-left: 50px;
}

.versian .sian2 {
  float:left;
  width:max-content;
  margin-left: 20px;
}

.versian .sian2 {
  margin: 0px 20px 0 20px !important;
  text-align: center;
}

.content .sian2 {  
  margin: 20px 20px 0 20px;
}

.tulisan {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
